body {
   font-family: 'Livvic', sans-serif;
 }

.site-header{
    border-bottom: 3px solid blue;
}

.site-title {
float: left;
}

.site-navigation{
    float: right;
}
.page-link { 
    margin-left: 20px;
}