body {
   font-family: 'Livvic', sans-serif;
 }
 div {display: block;}

.site-header{
    border-bottom: 5px solid blue;
    min-height: 56px;
}

.site-title {
float: left;
}

.site-navigation{
    float: right;
}
.page-link { 
    margin-left: 20px;
}